{{template "base" . }}

{{define "title"}}
    Payment succeeded.
{{end}}

{{define "content"}}
    <h2 class="mt-5">Payment succeeded</h2>
    <hr>
    <p>Payment Intent: {{index .Data "pi"}}
    <p>Payment Method: {{index .Data "pm"}}
    <p>Payment Amount: {{index .Data "pa"}}
    <p>Payment Currency: {{index .Data "pc"}}
{{end}}